@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

$grey: #f5f5f1;

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 2rem 4rem;
}

h1 {
  font-family: "Square Peg";
  font-size: 35px;
}
